{"openapi":"3.1.0","info":{"title":"Payments","version":"1.0.0","description":"This resource is used for payment actions","contact":{"name":"Rainforest","email":"support@rainforestpay.com","url":"https://rainforestpay.com"}},"servers":[{"url":"https://api.sandbox.rainforestpay.com","description":"Sandbox server"},{"url":"https://api.rainforestpay.com","description":"Production server"}],"paths":{"/v1/ach_returns/{ach_return_id}":{"get":{"operationId":"get_ach_return","summary":"Get ACH return","description":"Get ACH return details by the ach return ID.","parameters":[{"$ref":"#/paths/~1v1~1payins/get/parameters/0"},{"in":"path","required":true,"name":"ach_return_id","schema":{"type":"string"},"description":"The unique ACH return identifier. \n\nPrefix is \"ret\" in production and \"sbx_ret\" in sandbox.","examples":{"production":{"value":"ret_2db5NydANlaU0UJu4EUnGoR24hD"},"sandbox":{"value":"sbx_ret_2db5NydANlaU0UJu4EUnGoR24hD"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"properties":{"status":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/status"},"data":{"description":"The ACH return details.","type":"object","properties":{"ach_return_id":{"description":"The unique ACH return identifier. \n\nPrefix is \"ret\" in production and \"sbx_ret\" in sandbox.","type":"string","example":"ret_2DrDKk5NIMbpuNGqm109SkpGDHh"},"merchant_id":{"$ref":"#/paths/~1v1~1device_registrations/post/requestBody/content/application~1json/schema/properties/merchant_id"},"payin_id":{"description":"The unique payin identifier. This will only be set if there is not a refund_id set.\n\nPrefix is \"pyi\" in production and \"sbx_pyi\" in sandbox.","$ref":"#/paths/~1v1~1payins/post/responses/200/content/application~1json/schema/properties/data/properties/payin_id"},"refund_id":{"description":"The unique refund identifier.  This will only be set if there is not a payin_id set.\n\nPrefix is \"rfd_\" in production and \"sbx_rfd_\" in sandbox.","type":"string","example":"rfd_2DrDU206kzAhclm1WrZbuwDERRk"},"status":{"description":"The status of the ACH return.","type":"string","enum":["SUCCEEDED"],"example":"SUCCEEDED"},"return_code":{"description":"The code explaining the reason the ACH payment was returned.","type":"string","nullable":false,"enum":["R01","R02","R03","R05","R06","R07","R08","R09","R10","R11","R12","R13","R14","R15","R16","R17","R18","R19","R20","R21","R22","R23","R24","R25","R26","R27","R28","R29","R30","R31","R32","R33","R34","R35","R36","R37","R38","R39","R40","R41","R42","R43","R44","R45","R46","R47","R50","R51","R52","R53","R61","R62","R67","R68","R69","R70","R71","R72","R73","R74","R75","R76","R77","R80","R81","R82","R83","R84","R85"],"readOnly":true},"return_desc":{"description":"The description explaining the reason the ACH payment was returned. This will be a human-readable value that may be presented to the end user.","type":"string","nullable":false,"examples":["Insufficient Funds","Account Closed","Corporate Customer Advises Not Authorized"],"readOnly":true},"amount":{"description":"The amount captured by the ACH return, in minor units.\n\nFor example, 1000 is 10.00 USD.","type":"integer","example":100},"currency_code":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D~1void_or_refund/post/requestBody/content/application~1json/schema/properties/amount_splits/items/properties/currency_code"},"amount_splits":{"description":"Represents how the ACH return amount was allocated between the originating merchant, the platform, and one or more other merchants.<br/><br/>\n\nA `PLATFORM` split defines the amount debited from the platform.<br/><br/>\n\nA `MERCHANT` split defines the amount debited from the specified merchant.<br/><br/>\n\nAny remaining amount not specified by the amount splits was debited from the originating merchant.","$ref":"#/paths/~1v1~1refunds~1%7Brefund_id%7D/get/responses/200/content/application~1json/schema/properties/data/properties/amount_splits"},"merchant_fees":{"description":"The ACH return fee billed to the merchant","type":"object","properties":{"total_amount":{"description":"The total amount of fees billed to the merchant.","type":"object","properties":{"amount":{"$ref":"#/paths/~1v1~1payins/post/responses/200/content/application~1json/schema/properties/data/properties/merchant_fees/properties/total_amount/properties/amount"},"currency_code":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D~1void_or_refund/post/requestBody/content/application~1json/schema/properties/amount_splits/items/properties/currency_code"}}}},"example":{"total_amount":{"amount":2,"currency_code":"USD"}}},"metadata":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D~1metadata/patch/requestBody/content/application~1json/schema"},"expected_deposit_date":{"$ref":"#/paths/~1v1~1payins/post/responses/200/content/application~1json/schema/properties/data/properties/expected_deposit_date","description":"Date the funds are expected to be available in a deposit."},"source":{"description":"The source of the ACH return. Indicates the integration that created the ACH return.","type":"string","nullable":false,"enum":["SYSTEM"]},"source_desc":{"description":"The description of the source of the ACH return. This will be a human-readable value that may be presented to the end user.","type":"string","nullable":false},"created_at":{"description":"Date and time ACH return was created at in UTC RFC 3339 format.","type":"string","format":"date-time","example":"2022-01-01T12:00:00Z"},"updated_at":{"description":"Date and time ACH return was last updated at in UTC RFC 3339 format.","type":"string","format":"date-time","example":"2022-01-01T12:00:00Z"}}},"errors":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/errors"}}}}}},"400":{"$ref":"#/paths/~1v1~1payins/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1payins/get/responses/401"},"403":{"$ref":"#/paths/~1v1~1payins/get/responses/403"},"404":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D/get/responses/404"},"5XX":{"$ref":"#/paths/~1v1~1payins/get/responses/5XX"}},"tags":["ACH Returns"]}},"/v1/ach_returns/{ach_return_id}/metadata":{"patch":{"operationId":"update_ach_return_metadata","summary":"Update ACH return metadata","description":"The body of the request is the JSON key-value metadata to patch to the ACH return. Do not use the metadata field to store sensitive or confidential data. \n\nUpdating metadata will merge with the existing metadata stored on the ACH return by the top-level key. If the same top-level key is passed in this request, it will overwrite the value stored on the ACH return. Only keys included in the payload will be updated. To remove a key, set the key's value to null. To remove all metadata pass null for the metadata value.\n\nACH return Metadata must be less than 8 KB in size.\n\nACH return metadata can only be updated using an API key. This request should not be made by your frontend and should only be done by backend logic that only the platform can complete.","parameters":[{"$ref":"#/paths/~1v1~1payins/get/parameters/0"},{"$ref":"#/paths/~1v1~1ach_returns~1%7Bach_return_id%7D/get/parameters/1","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D~1metadata/patch/requestBody/content/application~1json/schema"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"properties":{"status":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/status"},"data":{"$ref":"#/paths/~1v1~1ach_returns~1%7Bach_return_id%7D/get/responses/200/content/application~1json/schema/properties/data"},"errors":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/errors"}}}}}},"400":{"$ref":"#/paths/~1v1~1payins/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1payins/get/responses/401"},"403":{"$ref":"#/paths/~1v1~1payins/get/responses/403"},"404":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D/get/responses/404"},"5XX":{"$ref":"#/paths/~1v1~1payins/get/responses/5XX"}},"tags":["ACH Returns"]}},"/v1/bin_lookup":{"post":{"operationId":"create_bin_lookup","summary":"Create BIN lookup","description":"Retrieve information from the card's BIN, such as the card brand, card type, country, and other details.\n\nThis endpoint requires Rainforest approval. Platforms that meet all [requirements](doc:send-sensitive-data-via-api#requirements) and are approved by Rainforest can send the full card numbers to Rainforest via a server-to-serve direct API integration.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"billable_merchant_id":{"description":"The unique merchant identifier for the billable merchant.\n\nPrefix is \"mid\" in production and \"sbx_mid\" in sandbox.","$ref":"#/paths/~1v1~1payment_methods/post/responses/200/content/application~1json/schema/properties/data/properties/billable_merchant_id"},"card_number":{"description":"The card number, formatted with no spaces (e.g 0000000000000000).","type":"string","example":"4111111111111111"}},"required":["billable_merchant_id","card_number"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"properties":{"status":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/status"},"data":{"description":"The BIN lookup details.","type":"object","properties":{"bin_lookup_id":{"description":"The unique BIN lookup identifier. \n\nPrefix is \"bin\" in production and \"sbx_bin\" in sandbox.","type":"string","example":"bin_2DrDKk5NIMbpuNGqm109SkpGDHh"},"billable_merchant_id":{"description":"The unique merchant identifier for the billable merchant.\n\nPrefix is \"mid\" in production and \"sbx_mid\" in sandbox.","$ref":"#/paths/~1v1~1payment_methods/post/responses/200/content/application~1json/schema/properties/data/properties/billable_merchant_id"},"bin":{"description":"The first 8 digits of the card number.","type":"string"},"brand":{"description":"Card brand.","type":"string","example":"MASTERCARD","enum":["VISA","MASTERCARD","DISCOVER","AMERICAN_EXPRESS","OTHER"]},"type":{"description":"Card type.","type":"string","example":"CREDIT","enum":["CREDIT","DEBIT","PREPAID"]},"last_4":{"description":"The last 4 digits of the card number.","type":"string"},"country":{"$ref":"#/paths/~1v1~1payins/post/requestBody/content/application~1json/schema/properties/billing_contact/properties/country"},"is_business":{"description":"Is a business card","type":"boolean"},"is_healthcare":{"description":"Is a healthcare card","type":"boolean"}}},"errors":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/errors"}}}}}},"400":{"$ref":"#/paths/~1v1~1payins/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1payins/get/responses/401"},"403":{"$ref":"#/paths/~1v1~1payins/get/responses/403"},"5XX":{"$ref":"#/paths/~1v1~1payins/get/responses/5XX"}},"tags":["BIN Lookups"]}},"/v1/chargebacks/{chargeback_id}":{"get":{"operationId":"get_chargeback","summary":"Get chargeback","description":"Get chargeback details by the chargeback ID.","parameters":[{"$ref":"#/paths/~1v1~1payins/get/parameters/0"},{"in":"path","required":true,"name":"chargeback_id","schema":{"type":"string"},"description":"The unique chargeback identifier. \n\nPrefix is \"chb\" in production and \"sbx_chb\" in sandbox.","examples":{"production":{"value":"chb_2TndahOgm9XTiidLB7csk0IsR9b"},"sandbox":{"value":"sbx_chb_2TndahOgm9XTiidLB7csk0IsR9b"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"properties":{"status":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/status"},"data":{"type":"object","properties":{"chargeback_id":{"description":"The unique chargeback identifier. \n\nPrefix is \"chb\" in production and \"sbx_chb\" in sandbox.","type":"string","example":"chb_2TndahOgm9XTiidLB7csk0IsR9b"},"payin_id":{"$ref":"#/paths/~1v1~1payins/post/responses/200/content/application~1json/schema/properties/data/properties/payin_id"},"merchant_id":{"$ref":"#/paths/~1v1~1device_registrations/post/requestBody/content/application~1json/schema/properties/merchant_id"},"amount":{"description":"The amount of the chargeback, in minor units.\n\nFor example, 1000 is 10.00 USD.","type":"integer","minimum":0},"currency_code":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D~1void_or_refund/post/requestBody/content/application~1json/schema/properties/amount_splits/items/properties/currency_code"},"status":{"description":"The status of the chargeback.","type":"string","enum":["INQUIRY_ACTION_REQUIRED","DISPUTE_ACTION_REQUIRED","INQUIRY_RESPONDED","CHARGEBACK_PROCESSING","PRE_ARBITRATION_PROCESSING","PROVISIONAL_WIN","WON","LOST","ARBITRATION"],"example":"WON"},"metadata":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D~1metadata/patch/requestBody/content/application~1json/schema","description":"Valid JSON key-value object specified by the platform to store additional information. This will contain metadata from the associated payin."},"merchant_fees":{"description":"The dispute fee billed to the merchant.","type":"object","properties":{"total_amount":{"description":"The total amount of fees billed to the merchant.","type":"object","properties":{"amount":{"$ref":"#/paths/~1v1~1payins/post/responses/200/content/application~1json/schema/properties/data/properties/merchant_fees/properties/total_amount/properties/amount"},"currency_code":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D~1void_or_refund/post/requestBody/content/application~1json/schema/properties/amount_splits/items/properties/currency_code"}}}},"example":{"total_amount":{"amount":2500,"currency_code":"USD"}}},"method_type":{"description":"The type of payment method.","type":"string","enum":["CARD","APPLE_PAY","PAYPAL_WALLET","VENMO","PAYPAL_PAYLATER"]},"card":{"$ref":"#/paths/~1v1~1payins/post/responses/200/content/application~1json/schema/properties/data/properties/card"},"apple_pay":{"$ref":"#/paths/~1v1~1payins/post/responses/200/content/application~1json/schema/properties/data/properties/apple_pay"},"paypal_wallet":{"$ref":"#/paths/~1v1~1payins/post/responses/200/content/application~1json/schema/properties/data/properties/paypal_wallet"},"venmo":{"$ref":"#/paths/~1v1~1payins/post/responses/200/content/application~1json/schema/properties/data/properties/venmo"},"paypal_paylater":{"$ref":"#/paths/~1v1~1payins/post/responses/200/content/application~1json/schema/properties/data/properties/paypal_paylater"},"reason_code":{"description":"The code explaining the dispute reason for the chargeback.","type":"string","enum":["CREDIT_NOT_PROCESSED","DUPLICATE_TRANSACTION","FRAUD","GENERAL","INCORRECT_AMOUNT","NOT_RECEIVED","NOT_ACCEPTABLE","SUBSCRIPTION_CANCELED","UNRECOGNIZED","UNCATEGORIZED"],"readOnly":true},"reason_desc":{"description":"The description explaining the dispute reason for the chargeback. This will be a human-readable value that may be presented to the end user.","type":"string","examples":["The customer claims they should receive a refund or partial refund because the product was returned, canceled, or not fully fulfilled, but they have not seen the refund be processed.","The customer claims they were charged multiple times for the same product or service.","The customer claims they did not authorize or recognize the payment.","This chargeback was initiated by the cardholder for a reason that does not fit into more specific categories.","The customer claims they were charged an incorrect amount for the product or service purchased.","The customer claims they did not receive the product or service they purchased.","The customer claims the product was defective, damaged, or not accurately described prior to purchasing.","The customer claims the payment was processed after the subscription was canceled.","The customer claims they do not recognize the merchant or the payment.","This chargeback was initiated by the cardholder for a reason that does not fit into more specific categories."],"readOnly":true},"acquirer_ref":{"type":"string","description":"Acquirer Reference Number (ARN) is the unique identifier to trace the chargeback with the issuing bank."},"due_date":{"$ref":"#/paths/~1v1~1payins/post/responses/200/content/application~1json/schema/properties/data/properties/expected_deposit_date","description":"Date chargeback times out and will be decisioned as a win or a loss depending on the current status."},"chargeback_evidence":{"type":"array","items":{"$ref":"#/paths/~1v1~1chargebacks~1%7Bchargeback_id%7D~1evidence~1%7Bchargeback_evidence_id%7D/patch/responses/200/content/application~1json/schema/properties/data"}},"validation_errors":{"description":"List of errors with the chargeback evidence to respond to the chargeback, if applicable.","type":"array","items":{"type":"object","description":"Details of the error with the chargeback evidence.","properties":{"field":{"description":"The field in the request that had an error, if applicable.","type":"string"},"code":{"description":"The code describing the error.","type":"string"},"message":{"description":"The description of the error related to the field.","type":"string"}}}},"expected_deposit_date":{"$ref":"#/paths/~1v1~1payins/post/responses/200/content/application~1json/schema/properties/data/properties/expected_deposit_date","description":"Date the fee of the chargeback is expected to be deducted in a deposit. Funds pulled from the merchant or given to the merchant is dependent on the chargeback status and is not represented by the expected deposit date."},"source":{"description":"The source of the chargeback. Indicates the integration that created the chargeback.","type":"string","nullable":false,"enum":["SYSTEM"]},"source_desc":{"description":"The description of the source of the chargeback. This will be a human-readable value that may be presented to the end user.","type":"string","nullable":false},"created_at":{"description":"Date and time chargeback was created at in UTC RFC 3339 format.","$ref":"#/paths/~1v1~1payment_method_domains/post/requestBody/content/application~1json/schema/properties/created_at","readOnly":true},"updated_at":{"description":"Date and time chargeback was last updated at in UTC RFC 3339 format.","$ref":"#/paths/~1v1~1payment_method_domains/post/requestBody/content/application~1json/schema/properties/created_at","readOnly":true}}},"errors":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/errors"}}}}}},"400":{"$ref":"#/paths/~1v1~1payins/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1payins/get/responses/401"},"403":{"$ref":"#/paths/~1v1~1payins/get/responses/403"},"404":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D/get/responses/404"},"5XX":{"$ref":"#/paths/~1v1~1payins/get/responses/5XX"}},"tags":["Chargebacks"]}},"/v1/chargebacks/{chargeback_id}/accept":{"post":{"operationId":"accept_chargeback","summary":"Accept chargeback","description":"Accept a chargeback as a loss.","parameters":[{"$ref":"#/paths/~1v1~1payins/get/parameters/0"},{"$ref":"#/paths/~1v1~1chargebacks~1%7Bchargeback_id%7D/get/parameters/1","in":"path"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"properties":{"status":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/status"},"data":{"$ref":"#/paths/~1v1~1chargebacks~1%7Bchargeback_id%7D/get/responses/200/content/application~1json/schema/properties/data"},"errors":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/errors"}}}}}},"400":{"$ref":"#/paths/~1v1~1payins/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1payins/get/responses/401"},"403":{"$ref":"#/paths/~1v1~1payins/get/responses/403"},"404":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D/get/responses/404"},"5XX":{"$ref":"#/paths/~1v1~1payins/get/responses/5XX"}},"tags":["Chargebacks"]}},"/v1/chargebacks/{chargeback_id}/submit":{"post":{"operationId":"submit_chargeback","summary":"Submit chargeback","description":"Respond to a chargeback by providing evidence.","parameters":[{"$ref":"#/paths/~1v1~1payins/get/parameters/0"},{"$ref":"#/paths/~1v1~1chargebacks~1%7Bchargeback_id%7D/get/parameters/1","in":"path"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"properties":{"status":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/status"},"data":{"$ref":"#/paths/~1v1~1chargebacks~1%7Bchargeback_id%7D/get/responses/200/content/application~1json/schema/properties/data"},"errors":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/errors"}}}}}},"400":{"description":"Bad request, check for validation errors.","content":{"application/json":{"schema":{"properties":{"status":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/status"},"data":{"$ref":"#/paths/~1v1~1chargebacks~1%7Bchargeback_id%7D/get/responses/200/content/application~1json/schema/properties/data"},"errors":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/errors"}}}}}},"401":{"$ref":"#/paths/~1v1~1payins/get/responses/401"},"403":{"$ref":"#/paths/~1v1~1payins/get/responses/403"},"404":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D/get/responses/404"},"5XX":{"$ref":"#/paths/~1v1~1payins/get/responses/5XX"}},"tags":["Chargebacks"]}},"/v1/chargebacks/{chargeback_id}/evidence/{chargeback_evidence_id}":{"patch":{"operationId":"update_chargeback_evidence","summary":"Update chargeback evidence","description":"Update a chargeback's evidence. Only fields included in the payload will be updated. Omitted fields will be removed. To remove a field, set the value to `null`.","parameters":[{"$ref":"#/paths/~1v1~1payins/get/parameters/0"},{"$ref":"#/paths/~1v1~1chargebacks~1%7Bchargeback_id%7D/get/parameters/1","in":"path"},{"in":"path","required":true,"name":"chargeback_evidence_id","schema":{"type":"string"},"description":"The unique chargeback evidence identifier. \n\nPrefix is \"cbe\" in production and \"sbx_cbe\" in sandbox.","examples":{"production":{"value":"cbe_2TndahOgm9XTiidLB7csk0IsR9b"},"sandbox":{"value":"sbx_cbe_2TndahOgm9XTiidLB7csk0IsR9b"}}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","description":null,"properties":{"file_upload_ids":{"type":"array","items":{"description":"The unique file upload identifier. \n\nPrefix is \"fiu\" in production and \"sbx_fiu\" in sandbox.","type":"string","example":"fiu_2DrDU206kzAhclm1WrZbuwDERRk"},"description":"List of file upload IDs for the evidence."},"response":{"type":"string","description":"Plain text description to provide additional information for the chargeback evidence.","nullable":true},"description":"The text-based response for the evidence."}},"examples":{"update":{"value":{"file_upload_ids":["fiu_2A4d6U0tMyovzTbVT1ktmRzdRaD"],"response":"Customer signed proof of delivery document on 9/1"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"properties":{"status":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/status"},"data":{"description":"Chargeback evidence details","type":"object","properties":{"chargeback_evidence_id":{"description":"The unique chargeback evidence identifier.\n\nPrefix is \"cbe\" in production and \"sbx_cbe\" in sandbox.","type":"string","example":"cbe_2DrDU206kzAhclm1WrZbuwDERRk"},"chargeback_id":{"$ref":"#/paths/~1v1~1chargebacks~1%7Bchargeback_id%7D/get/responses/200/content/application~1json/schema/properties/data/properties/chargeback_id"},"is_required":{"description":"Boolean indicating if evidence is required to dispute the chargeback.","type":"boolean"},"type":{"type":"string","description":"The type of evidence.","enum":["3DS_VERIFICATION","ADDITIONAL_AUTHORIZED_SIGNER","ADDITIONAL_HOUSEHOLD_SIGNER","AUTHORIZATION","CANCELLATION_POLICY","CVV2_CAPTURE","DIGITAL_DOWNLOAD","ITEM_CONDITION","LEGAL_ATTESTATION","ORDER_FORM","OTHER","OTHER_PAYMENT_METHODS","PRODUCT_OR_SERVICE_USAGE","PROOF_OF_DELIVERY_TO_EMPLOYEE","PROOF_OF_DELIVERY","REBUTTAL","RECEIPT","RECURRING_BILLING_AGREEMENT","RENTAL_AGREEMENT","TRANSACTION_HISTORY"]},"type_desc":{"type":"string","description":"The description explaining the type of evidence."},"file_upload_mode":{"$ref":"#/paths/~1v1~1chargebacks~1%7Bchargeback_id%7D~1evidence~1%7Bchargeback_evidence_id%7D/patch/responses/200/content/application~1json/schema/properties/data/properties/response_mode","description":"The mode for adding files to the evidence. If `REQUIRED`, the `file_upload_ids` must be set to respond to the chargeback."},"file_upload_ids":{"type":"array","description":"List of file upload IDs for the evidence.","items":{"$ref":"#/paths/~1v1~1chargebacks~1%7Bchargeback_id%7D~1evidence~1%7Bchargeback_evidence_id%7D/patch/requestBody/content/application~1json/schema/properties/file_upload_ids/items"},"nullable":true},"response_mode":{"description":"The mode for adding a response to the evidence. If `REQUIRED`, the `response` must be set to respond to the chargeback.","type":"string","enum":["ALLOWED","NOT_ALLOWED","REQUIRED"]},"response":{"$ref":"#/paths/~1v1~1chargebacks~1%7Bchargeback_id%7D~1evidence~1%7Bchargeback_evidence_id%7D/patch/requestBody/content/application~1json/schema/properties/response"},"created_at":{"description":"Date and time chargeback evidence was created at in UTC RFC 3339 format.","$ref":"#/paths/~1v1~1payment_method_domains/post/requestBody/content/application~1json/schema/properties/created_at","readOnly":true},"updated_at":{"description":"Date and time chargeback evidence was last updated at in UTC RFC 3339 format.","$ref":"#/paths/~1v1~1payment_method_domains/post/requestBody/content/application~1json/schema/properties/created_at","readOnly":true}}},"errors":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/errors"}}}}}},"400":{"$ref":"#/paths/~1v1~1payins/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1payins/get/responses/401"},"403":{"$ref":"#/paths/~1v1~1payins/get/responses/403"},"404":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D/get/responses/404"},"5XX":{"$ref":"#/paths/~1v1~1payins/get/responses/5XX"}},"tags":["Chargebacks"]}},"/v1/chargebacks/{chargeback_id}/metadata":{"patch":{"operationId":"update_chargeback_metadata","summary":"Update chargeback metadata","description":"The body of the request is the JSON key-value metadata to patch to the chargeback. Do not use the metadata field to store sensitive or confidential data. \n\nUpdating metadata will merge with the existing metadata stored on the chargeback by the top-level key. If the same top-level key is passed in this request, it will overwrite the value stored on the chargeback. Only keys included in the payload will be updated. To remove a key, set the key's value to null. To remove all metadata pass null for the metadata value.\n\nChargeback metadata must be less than 8 KB in size.\n\nChargeback metadata can only be updated using an API key. This request should not be made by your frontend and should only be done by backend logic that only the platform can complete.","parameters":[{"$ref":"#/paths/~1v1~1payins/get/parameters/0"},{"$ref":"#/paths/~1v1~1chargebacks~1%7Bchargeback_id%7D/get/parameters/1","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D~1metadata/patch/requestBody/content/application~1json/schema"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"properties":{"status":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/status"},"data":{"$ref":"#/paths/~1v1~1chargebacks~1%7Bchargeback_id%7D/get/responses/200/content/application~1json/schema/properties/data"},"errors":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/errors"}}}}}},"400":{"$ref":"#/paths/~1v1~1payins/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1payins/get/responses/401"},"403":{"$ref":"#/paths/~1v1~1payins/get/responses/403"},"404":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D/get/responses/404"},"5XX":{"$ref":"#/paths/~1v1~1payins/get/responses/5XX"}},"tags":["Chargebacks"]}},"/v1/payins/{payin_id}/simulate_chargeback":{"post":{"operationId":"simulate_payin_chargeback","summary":"Simulate a chargeback against a payin","description":"Only available in the Rainforest sandbox environment.\n\nThe expected webhooks will be sent as the as the chargeback is created.","parameters":[{"$ref":"#/paths/~1v1~1payins/get/parameters/0"},{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D/get/parameters/1","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"description":"Simulation request to create a chargeback against a payin.","type":"object","properties":{"status":{"description":"Initial status to initiate a chargeback in.","type":"string","enum":["INQUIRY_ACTION_REQUIRED","DISPUTE_ACTION_REQUIRED"]}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"properties":{"status":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/status"},"data":{"$ref":"#/paths/~1v1~1chargebacks~1%7Bchargeback_id%7D/get/responses/200/content/application~1json/schema/properties/data"},"errors":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/errors"}}}}}},"400":{"$ref":"#/paths/~1v1~1payins/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1payins/get/responses/401"},"403":{"$ref":"#/paths/~1v1~1payins/get/responses/403"},"404":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D/get/responses/404"},"5XX":{"$ref":"#/paths/~1v1~1payins/get/responses/5XX"}},"tags":["Chargebacks"]}},"/v1/chargebacks/{chargeback_id}/simulate":{"post":{"operationId":"simulate_chargeback","summary":"Simulate chargeback status change","description":"Only available in the Rainforest sandbox environment.\n\nSimulate the decision of the chargeback. The expected webhooks will be sent for the chargeback on status change.","parameters":[{"$ref":"#/paths/~1v1~1payins/get/parameters/0"},{"$ref":"#/paths/~1v1~1chargebacks~1%7Bchargeback_id%7D/get/parameters/1","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"description":"Simulation request to move an existing chargeback into a new status.","type":"object","properties":{"status":{"description":"Status to transition the chargeback to.","type":"string","enum":["DISPUTE_ACTION_REQUIRED","PROVISIONAL_WIN","WON","LOST"]}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"properties":{"status":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/status"},"data":{"$ref":"#/paths/~1v1~1chargebacks~1%7Bchargeback_id%7D/get/responses/200/content/application~1json/schema/properties/data"},"errors":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/errors"}}}}}},"400":{"$ref":"#/paths/~1v1~1payins/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1payins/get/responses/401"},"403":{"$ref":"#/paths/~1v1~1payins/get/responses/403"},"404":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D/get/responses/404"},"5XX":{"$ref":"#/paths/~1v1~1payins/get/responses/5XX"}},"tags":["Chargebacks"]}},"/v1/device_registrations":{"post":{"operationId":"create_device_registration","summary":"Create device registration","description":"Create a device registration for payment processing on a specific merchant. When a device is registered, the device receives a new device_registration_id for payment processing. The merchant status must be `ACTIVE` to register a device.","parameters":[{"$ref":"#/paths/~1v1~1payins/get/parameters/0"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"merchant_id":{"description":"The unique merchant identifier. \n\nPrefix is \"mid\" in production and \"sbx_mid\" in sandbox.","type":"string","example":"mid_2DrDFJPutxE5AIbJSopAnqniEbr"},"registration_code":{"description":"The code that appears on an internet-connected device when it is not yet registered or has been deregistered.\n\nOn sandbox, a virtual device can be registered to test the device integration without a physical device. Use the registration code `VIRTUAL_DEVICE` to register a virtual device to any sandbox merchant account.","type":"string"},"device_name":{"description":"The name that will appear on the device screen when internet-connected.","type":"string","maxLength":20,"minLength":1}},"required":["merchant_id","registration_code","device_name"]},"examples":{"virtual_device":{"value":{"merchant_id":"mid_2DrDFJPutxE5AIbJSopAnqniEbr","registration_code":"VIRTUAL_DEVICE","device_name":"Test Device"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"properties":{"status":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/status"},"data":{"type":"object","properties":{"device_registration_id":{"name":"device_registration_id","schema":{"type":"string"},"required":true,"description":"The unique device registration identifier.\n\nPrefix is \"dvc\" in production and \"sbx_dvc\" in sandbox.","examples":{"production":{"value":"dvc_2DrDKk5NIMbpuNGqm109SkpGDHh"},"sandbox":{"value":"sbx_dvc_2DrDKk5NIMbpuNGqm109SkpGDHh"}}},"merchant_id":{"name":"merchant_id","schema":{"type":"string"},"description":"The unique merchant identifier. \n\nPrefix is \"mid\" in production and \"sbx_mid\" in sandbox.","examples":{"production":{"value":"mid_2DrDFJPutxE5AIbJSopAnqniEbr"},"sandbox":{"value":"sbx_mid_2DrDFJPutxE5AIbJSopAnqniEbr"}}},"make":{"description":"The make of the device.","type":"string"},"model":{"description":"The model of the device.","type":"string"},"serial_number":{"description":"The serial number of the device.","type":"string"},"device_name":{"description":"The name that will appear on the device screen when internet-connected.","type":"string"},"capabilities":{"readOnly":true,"description":"The supported device registration capabilities.\n\n`SIGNATURE` - supports collecting a digital signature","type":"array","items":{"type":"string","enum":["SIGNATURE"]}},"created_at":{"description":"Date and time the device registration was created in UTC RFC 3339 format.","type":"string","format":"date-time","example":"2022-01-01T12:00:00Z"},"deleted_at":{"description":"Date and time the device registration was deleted in UTC RFC 3339 format.","type":"string","format":"date-time","example":"2022-01-01T12:00:00Z"}}},"errors":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/errors"}}}}}},"400":{"$ref":"#/paths/~1v1~1payins/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1payins/get/responses/401"},"403":{"$ref":"#/paths/~1v1~1payins/get/responses/403"},"5XX":{"$ref":"#/paths/~1v1~1payins/get/responses/5XX"}},"tags":["Devices"]},"get":{"operationId":"list_device_registrations","summary":"List device registrations","description":"Query a list of registered devices given optional search criteria.","parameters":[{"$ref":"#/paths/~1v1~1payins/get/parameters/0"},{"$ref":"#/paths/~1v1~1device_registrations/post/responses/200/content/application~1json/schema/properties/data/properties/merchant_id","in":"query"},{"$ref":"#/paths/~1v1~1payins/get/parameters/8","in":"query"},{"$ref":"#/paths/~1v1~1payins/get/parameters/9","in":"query"},{"name":"sort_by","in":"query","description":"Optional value by which to sort the result set. Default sort by is created_at.","schema":{"type":"string","enum":["created_at","merchant_id"]}},{"$ref":"#/paths/~1v1~1payins/get/parameters/13","in":"query"},{"$ref":"#/paths/~1v1~1payins/get/parameters/14","in":"query"},{"in":"query","name":"offset","schema":{"type":"number","default":0,"minimum":0},"description":"The offset of the first result to return; zero-based."}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/status"},"data":{"allOf":[{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/data/allOf/0"},{"type":"object","properties":{"results":{"description":"List of registered devices.","type":"array","items":{"$ref":"#/paths/~1v1~1device_registrations/post/responses/200/content/application~1json/schema/properties/data"}}}}]},"errors":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/errors"}}}}}},"400":{"$ref":"#/paths/~1v1~1payins/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1payins/get/responses/401"},"403":{"$ref":"#/paths/~1v1~1payins/get/responses/403"},"5XX":{"$ref":"#/paths/~1v1~1payins/get/responses/5XX"}},"tags":["Devices"]}},"/v1/device_registrations/{device_registration_id}":{"get":{"operationId":"get_device_registration","summary":"Get device registration","description":"Get registered device details by the device registration ID.","parameters":[{"$ref":"#/paths/~1v1~1payins/get/parameters/0"},{"in":"path","required":true,"name":"device_registration_id","schema":{"type":"string"},"description":"The unique device registration identifier.\n\nPrefix is \"dvc\" in production and \"sbx_dvc\" in sandbox.","examples":{"production":{"value":"dvc_2DrDKk5NIMbpuNGqm109SkpGDHh"},"sandbox":{"value":"sbx_dvc_2DrDKk5NIMbpuNGqm109SkpGDHh"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"properties":{"status":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/status"},"data":{"$ref":"#/paths/~1v1~1device_registrations/post/responses/200/content/application~1json/schema/properties/data"},"errors":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/errors"}}}}}},"400":{"$ref":"#/paths/~1v1~1payins/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1payins/get/responses/401"},"403":{"$ref":"#/paths/~1v1~1payins/get/responses/403"},"404":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D/get/responses/404"},"5XX":{"$ref":"#/paths/~1v1~1payins/get/responses/5XX"}},"tags":["Devices"]},"delete":{"operationId":"delete_device_registration","summary":"Delete device registration","description":"Delete a device registration. The device will be able to be re-registered.","parameters":[{"$ref":"#/paths/~1v1~1payins/get/parameters/0"},{"$ref":"#/paths/~1v1~1device_registrations~1%7Bdevice_registration_id%7D/get/parameters/1","in":"path"}],"responses":{"204":{"description":"OK"},"400":{"$ref":"#/paths/~1v1~1payins/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1payins/get/responses/401"},"403":{"$ref":"#/paths/~1v1~1payins/get/responses/403"},"404":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D/get/responses/404"},"5XX":{"$ref":"#/paths/~1v1~1payins/get/responses/5XX"}},"tags":["Devices"]}},"/v1/device_registrations/{device_registration_id}/payin":{"post":{"operationId":"create_device_payin","summary":"Present payin on a registered device","description":"Present a payin for processing on a registered device using a payin configuration. The merchant status must be `ACTIVE` to process a payin.\n\n> 📘 Note\n>\n> A payment method created on a registered device may only be used for payins within the same merchant for which it was collected.","parameters":[{"$ref":"#/paths/~1v1~1payins/get/parameters/0"},{"$ref":"#/paths/~1v1~1device_registrations~1%7Bdevice_registration_id%7D/get/parameters/1","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"payin_config_id":{"description":"The unique payin config identifier. A payin must be configured prior to this request. See \"Create a Payin Config\" if a payin configuration has not been created yet.\n\nPrefix is \"cfg\" in production and \"sbx_cfg\" in sandbox.","type":"string","example":"cfg_2A4d6U0tMyovzTbVT1ktmRzdRaD"}},"required":["payin_config_id"]},"example":{"payin_config_id":"cfg_2A4d6U0tMyovzTbVT1ktmRzdRaD"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"properties":{"status":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/status"},"data":{"$ref":"#/paths/~1v1~1payins/post/responses/200/content/application~1json/schema/properties/data"},"errors":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/errors"}}}}}},"400":{"$ref":"#/paths/~1v1~1payins/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1payins/get/responses/401"},"403":{"$ref":"#/paths/~1v1~1payins/get/responses/403"},"404":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D/get/responses/404"},"409":{"$ref":"#/paths/~1v1~1refunds~1%7Brefund_id%7D~1void/post/responses/409"},"5XX":{"$ref":"#/paths/~1v1~1payins/get/responses/5XX"}},"tags":["Devices"]}},"/v1/device_registrations/{device_registration_id}/payment_method":{"post":{"operationId":"create_device_payment_method","summary":"Present payment method on a registered device","description":"Create a payment method on a registered device using a payment method configuration. The merchant status must be `ACTIVE` to create a payment method.\n\n> 📘 Note\n>\n> A payment method created on a registered device may only be used for payins within the same merchant for which it was collected.","parameters":[{"$ref":"#/paths/~1v1~1payins/get/parameters/0"},{"$ref":"#/paths/~1v1~1device_registrations~1%7Bdevice_registration_id%7D/get/parameters/1","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"payment_method_config_id":{"description":"The unique payment method config identifier. A payment method must be configured prior to this request. See \"Create a payment method config\" if a payment method configuration has not been created yet.\n\nPrefix is \"pmc\" in production and \"sbx_pmc\" in sandbox.","type":"string","example":"pmc_2S3yd7bLHxEScKeaIHhdusjk35q"}},"required":["payment_method_config_id"]},"example":{"payin_config_id":"pmc_2S3yd7bLHxEScKeaIHhdusjk35q"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"properties":{"status":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/status"},"data":{"$ref":"#/paths/~1v1~1payment_methods/post/responses/200/content/application~1json/schema/properties/data"},"errors":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/errors"}}}}}},"400":{"$ref":"#/paths/~1v1~1payins/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1payins/get/responses/401"},"403":{"$ref":"#/paths/~1v1~1payins/get/responses/403"},"404":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D/get/responses/404"},"409":{"$ref":"#/paths/~1v1~1refunds~1%7Brefund_id%7D~1void/post/responses/409"},"5XX":{"$ref":"#/paths/~1v1~1payins/get/responses/5XX"}},"tags":["Devices"]}},"/v1/device_registrations/{device_registration_id}/cancel":{"post":{"operationId":"cancel_device_presented","summary":"Cancel presented entity on device","description":"Best effort attempt to cancel currently presented payin or payment method on device. This does not guarantee the presented entity can be canceled on the device. If the payin begins processing before it can be canceled, then you will need to void the payin if it processes. A corresponding webhook will trigger if the presented payin or payment method is canceled or processes.\n\nIf no payin or payment method is being presented at the time of the request, a `202 Accepted` response will be returned.","parameters":[{"$ref":"#/paths/~1v1~1payins/get/parameters/0"},{"$ref":"#/paths/~1v1~1device_registrations~1%7Bdevice_registration_id%7D/get/parameters/1","in":"path"}],"responses":{"202":{"description":"Accepted\n\nThe device is not currently presenting a payin or payment method, so no cancel action is necessary."},"204":{"description":"No Content"},"400":{"$ref":"#/paths/~1v1~1payins/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1payins/get/responses/401"},"403":{"$ref":"#/paths/~1v1~1payins/get/responses/403"},"404":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D/get/responses/404"},"5XX":{"$ref":"#/paths/~1v1~1payins/get/responses/5XX"}},"tags":["Devices"]}},"/v1/device_registrations/{device_registration_id}/simulate":{"post":{"operationId":"simulate_on_device","summary":"Simulate device interaction","description":"Only available in the Rainforest sandbox environment.\n\nAfter presenting a payin or payment method on a virtual device this endpoint is available to move on from the `PRESENTING` status to a desired subsequent status.\n\nThe expected webhook will be sent for the payin or payment method on status change.","parameters":[{"$ref":"#/paths/~1v1~1payins/get/parameters/0"},{"$ref":"#/paths/~1v1~1device_registrations~1%7Bdevice_registration_id%7D/get/parameters/1","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"description":"Simulation request for device interactions.","type":"object","properties":{"event":{"description":"Event to simulate","type":"string","enum":["PRESENTED","CANCEL"]},"card":{"description":"Name of card to use","type":"string","enum":["VISA_SUCCESS","VISA_42_SUCCESS","VISA_DEBIT_SUCCESS","MC_SUCCESS","MC_2_SUCCESS","MC_DEBIT_SUCCESS","MC_PREPAID_SUCCESS","AMEX_SUCCESS","AMEX_2_SUCCESS","AMEX_DEBIT_SUCCESS","DISCOVER_SUCCESS","DISCOVER_2_SUCCESS","DISCOVER_DEBIT_SUCCESS","DINERS_SUCCESS","DINERS_14_SUCCESS","JCB_SUCCESS","CUP_SUCCESS","CB_VISA_SUCCESS","CB_MC_SUCCESS","GENERIC_DECLINE","INSUFFICIENT_FUNDS","LOST_CARD","STOLEN_CARD","EXPIRED_CARD","INCORRECT_CVC","PROCESSING_ERROR","INCORRECT_NUMBER"]}}}}}},"responses":{"204":{"description":"OK"},"400":{"$ref":"#/paths/~1v1~1payins/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1payins/get/responses/401"},"403":{"$ref":"#/paths/~1v1~1payins/get/responses/403"},"404":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D/get/responses/404"},"409":{"$ref":"#/paths/~1v1~1refunds~1%7Brefund_id%7D~1void/post/responses/409"},"5XX":{"$ref":"#/paths/~1v1~1payins/get/responses/5XX"}},"tags":["Devices"]}},"/v1/payin_configs":{"post":{"operationId":"create_payin_config","summary":"Create payin config","description":"Create the configuration for a payin request. The configuration contains basic information about the payin such as the merchant, idempotency key, payin amount, currency, and optional information such as billing contact, level 2 and 3, and metadata. If the billing contact is provided in the payin config, then the web component will not prompt for this data. These fields include country and postal code for a CARD payment method and name for an ACH payment method. This allows a payin to be set up before collecting the sensitive payin details (i.e the card number) via the web component. The merchant status must be `ACTIVE` to create a payin config.","parameters":[{"$ref":"#/paths/~1v1~1payins/get/parameters/0"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1payin_configs/post/responses/200/content/application~1json/schema/properties/data","required":["merchant_id","amount","currency_code","idempotency_key"]},"examples":{"required_fields":{"value":{"merchant_id":"mid_2DrDFJPutxE5AIbJSopAnqniEbr","idempotency_key":"e7d57c41-7626-4644-b777-9451ab3ddea9","amount":100,"currency_code":"USD"}},"amount_splits_and_metadata":{"value":{"merchant_id":"mid_2DrDFJPutxE5AIbJSopAnqniEbr","idempotency_key":"e7d57c41-7626-4644-b777-9451ab3ddea9","amount":100,"currency_code":"USD","amount_splits":[{"amount":3,"currency_code":"USD","type":"PLATFORM"}],"metadata":{"key1":"value1","key2":{"inner_key1":"inner_value1"}}}},"billing_contact":{"value":{"merchant_id":"mid_2DrDFJPutxE5AIbJSopAnqniEbr","idempotency_key":"e7d57c41-7626-4644-b777-9451ab3ddea9","amount":100,"currency_code":"USD","billing_contact":{"name":"Jane Smith","address_line_1":"3423 Piedmont Rd","address_line_2":"Suite 123","city":"Atlanta","state":"GA","postal_code":"30305","country":"US","email":"janesmith@example.com","phone":"4041234567"}}},"level_2_data":{"value":{"merchant_id":"mid_2DrDFJPutxE5AIbJSopAnqniEbr","idempotency_key":"e7d57c41-7626-4644-b777-9451ab3ddea9","amount":100,"currency_code":"USD","level_2_3":{"tax_amount":100,"shipping_amount":100,"order_number":"order_123"}}},"level_3_data":{"value":{"merchant_id":"mid_2DrDFJPutxE5AIbJSopAnqniEbr","idempotency_key":"e7d57c41-7626-4644-b777-9451ab3ddea9","amount":100,"currency_code":"USD","level_2_3":{"tax_amount":100,"shipping_amount":100,"order_number":"order_123","shipping_country":"US","shipping_postal_code":"30305","shipping_from_postal_code":"30305","commodity_code":"commodity_code","line_items":[{"product_code":"product code","description":"product description","unit_amount":100,"unit_of_measure":"EACH","quantity":1,"total_amount":100,"tax_amount":100,"tax_rate":1000,"discount_amount":100,"discount_rate":1000}]}}},"all_fields":{"value":{"merchant_id":"mid_2DrDFJPutxE5AIbJSopAnqniEbr","idempotency_key":"e7d57c41-7626-4644-b777-9451ab3ddea9","amount":100,"currency_code":"USD","amount_splits":[{"amount":3,"currency_code":"USD","type":"PLATFORM"}],"level_2_3":{"tax_amount":100,"shipping_amount":100,"order_number":"order_123","shipping_country":"US","shipping_postal_code":"30305","shipping_from_postal_code":"30305","commodity_code":"commodity_code","line_items":[{"product_code":"product code","description":"product description","unit_amount":100,"unit_of_measure":"EACH","quantity":1,"total_amount":100,"tax_amount":100,"tax_rate":1000,"discount_amount":100,"discount_rate":1000}]},"metadata":{"key1":"value1","key2":{"inner_key1":"inner_value1"}},"method_metadata":{"key1":"value1","key2":{"inner_key1":"inner_value1"}}}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"properties":{"status":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/status"},"data":{"type":"object","properties":{"payin_config_id":{"$ref":"#/paths/~1v1~1payins/post/responses/200/content/application~1json/schema/properties/data/properties/threeds_attempt/properties/payin_config_id","readOnly":true},"payment_method_config_id":{"readOnly":true,"description":"The unique payment method config identifier. \n\nPrefix is \"pmc\" in production and \"sbx_pmc\" in sandbox.","type":"string","example":"pmc_2DrDPKzdQypRudLd8DhQKZX27dA"},"merchant_id":{"$ref":"#/paths/~1v1~1device_registrations/post/requestBody/content/application~1json/schema/properties/merchant_id"},"merchant":{"type":"object","properties":{"id":{"$ref":"#/paths/~1v1~1device_registrations/post/requestBody/content/application~1json/schema/properties/merchant_id","readOnly":true},"name":{"readOnly":true,"description":"The unique identifier for the merchant business name.","type":"string","example":"Merchant","maxLength":100},"dba_name":{"readOnly":true,"description":"The merchant’s public-facing name. This may be the same as the legal name if the merchant does not operate under a different name.","type":"string","example":"Merchant","maxLength":100}}},"idempotency_key":{"$ref":"#/paths/~1v1~1refunds~1%7Brefund_id%7D~1void/post/requestBody/content/application~1json/schema/properties/idempotency_key"},"amount":{"description":"The total amount allowed to process, in minor units.\n\nFor example, 1000 is 10.00 USD.","type":"integer","example":100,"minimum":1},"currency_code":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D~1void_or_refund/post/requestBody/content/application~1json/schema/properties/amount_splits/items/properties/currency_code"},"amount_splits":{"description":"Represents how the payin should be allocated between the originating merchant, the platform, and one or more other merchants.<br/><br/>\n\nA `PLATFORM` split defines a platform fee on the payin. A maximum of one `PLATFORM` split is permitted per payin.<br/><br/>\n\nA `MERCHANT` split allocates a portion of the payin to the specified merchant. Multiple `MERCHANT` splits are permitted. Each `MERCHANT` split must specify a unique merchant_id.<br/><br/>\n\nAny remaining amount not specified by the amount splits will be allocated to the originating merchant associated with the payin.<br/><br/>\n\nIf no amount splits are provided, the total amount will be allocated to the originating merchant.<br/><br/>\n\nThe amount split is defined as a rate and amount. The split is calculated based on the authorized amount of the payin.<br/><br/>\n\nFor example, to assess a platform fee of 1% + $5.00, specify 1000 in the rate and 500 in the amount. Be careful to account for any processing fees that will be netted before computing amount splits.","type":"array","items":{"type":"object","properties":{"rate":{"description":"The amount split defined as a rate, in percent mille (1 PCM = 0.001%). The amount split will be calculated on the authorized amount of the payin.\n\nFor example, 3000 is 3%.","type":"integer","example":3000,"minimum":0},"rate_cap":{"description":"The amount split rate cap, in minor units. Used to cap the rate to a specified amount.\n\nFor example, 1000 is 10.00 USD.\n\nThe following validation must be met:\n  If the rate is greater than 0%, then the rate_cap must be greater than $0. For example, to bill a rate of 1% up to $100 set the value to 10000.\n  If the rate is 0%, then the rate_cap must be $0.","type":"integer","example":1000,"minimum":0},"amount":{"description":"The amount split, in minor units.\n\nFor example, 1000 is 10.00 USD.","type":"integer","example":3,"minimum":0},"currency_code":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D~1void_or_refund/post/requestBody/content/application~1json/schema/properties/amount_splits/items/properties/currency_code"},"type":{"description":"The type of receiver for this split.<br/><br/>\n\n`PLATFORM` allocates the split amount to the platform. `MERCHANT` allocates the split amount to the merchant specified by merchant_id.","type":"string","enum":["PLATFORM","MERCHANT"]},"merchant_id":{"description":"Required when type is `MERCHANT`.<br/><br/>\n\nThe unique identifier of the merchant receiving this split. The merchant status must be ACTIVE.<br/><br/>\n\nThe following constraints must be met:\n\n- Cannot match the merchant_id of the originating merchant on the payin.\n- Cannot be duplicated within the same amount_splits array.\n- Not valid when type is `PLATFORM`.<br/><br/>\n\nPrefix is mid in production and sbx_mid in sandbox.","type":"string","example":"mid_abc123"},"amount_split_reversal_config":{"description":"Controls whether this amount split is reversed on a refund for the full amount or an ACH return. When not provided, both attributes default to false.","type":"object","properties":{"on_full_refund":{"description":"Determines whether this amount split is reversed when a refund for the full amount is processed on this payin.<br/><br/>\n\nWhen `true`, the receiver's allocation is pulled back on the refund. When `false`, the receiver retains their allocation and the originating merchant absorbs this amount of the refund.<br/><br/>\n\nThis configuration only applies to full refunds. For partial refunds, amount_splits on the refund request can be provided to specify the reversal amounts.","type":"boolean","default":false},"on_ach_return":{"description":"Determines whether this amount split is reversed when an ACH return is processed on this payin.<br/><br/>\n\nWhen `true`, the receiver's allocation is pulled back on the ACH return. When `false`, the receiver retains their allocation and the originating merchant absorbs this amount of the ACH return.","type":"boolean","default":false}}}},"required":["amount","currency_code","type"]},"example":[{"amount":3,"currency_code":"USD","type":"PLATFORM"}],"maxItems":26,"minItems":0},"billing_fees_reversal_config":{"description":"Controls whether the billing fees for this payin are returned to the originating merchant on a refund for the full amount or an ACH return. When not provided, both attributes default to the merchant's configuration.","type":"object","properties":{"on_full_refund":{"description":"Determines whether the billing fees for this payin are returned to the merchant when a refund for the full amount is processed.<br/><br/>\n\nWhen `true`, the billing fee is credited back to the merchant and included in the refund's computed billing fee.<br/><br/>\n\nThis field can also be defined on the refund request and will take precedence over the configuration defined on this payin config.","type":"boolean","default":false},"on_ach_return":{"description":"Determines whether the billing fees for this payin are returned to the merchant when an ACH return is processed.<br/><br/>\n\nWhen `true`, the billing fee is credited back to the merchant and included in the ACH return's computed billing fee.","type":"boolean","default":false}}},"merchant_billing":{"description":"The billing rate and fee to calculate the merchant's billing fee on the authorized amount of the payin. If set, then this rate and fee will be used to determine the billing fee for the payin and will override the merchant's billing profile.","type":"object","properties":{"rate":{"description":"Rate, in percent mille (1 PCM = 0.001%).\n\nFor example, 3000 is 3%.","type":"integer","required":true,"minimum":0,"maximum":25000},"rate_cap":{"description":"Rate cap, in minor units. Used to cap the rate to a specified amount.\n\nFor example, 1000 is 10.00 USD.\n\nThe following validation must be met:\n- If the `rate` is greater than 0%, then the `rate_cap` must be greater than $0. For example, to bill a rate of 1% up to $100 set the value to `10000`.\n- If the `rate` is 0%, then the `rate_cap` must be $0.","type":"integer","required":true,"minimum":0,"maximum":10000000},"fee":{"description":"Fee, in minor units. \n\nFor example, 1000 is 10.00 USD.\n\nThe fee can be up to $10, regardless of the amount of the payin. However, if the fee is greater than $10, then the fee cannot be greater than the `amount` field.\n\nValid requests: \n- Fee of $10 on a $5 payin. \n- Fee of $11 on a $20 payin.\n\nInvalid requests: \n- Fee of $11 on a $5 payin.","type":"integer","required":true,"minimum":0},"currency_code":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D~1void_or_refund/post/requestBody/content/application~1json/schema/properties/amount_splits/items/properties/currency_code","required":true}}},"allow_bin_lookup":{"description":"Boolean indicating if BIN data is returned when a user is inputting the card number into the Payment Component.","type":"boolean","default":false},"allow_partial_authorization":{"description":"Boolean indicating if partial amount can be authorized on a card payment, if supported by the issuing bank.","type":"boolean"},"billing_contact":{"description":"Billing contact details.","type":"object","properties":{"name":{"description":"First and last name.","type":"string","example":"Jane Smith","maxLength":100},"address_line_1":{"description":"First line of street address.","type":"string","example":"123 Example Street","maxLength":100},"address_line_2":{"description":"Second line of street address, if required.","type":"string","example":"Suite 123","maxLength":100},"city":{"description":"City for address.","type":"string","example":"Atlanta","maxLength":100},"state":{"description":"State, province, or region for address.","type":"string","example":"GA","maxLength":100},"postal_code":{"description":"Postal code or ZIP code for address.","type":"string","example":"30305","maxLength":15},"country":{"description":"2-digit country code. \nFind country codes here: https://www.iso.org/obp","type":"string","example":"US","maxLength":2,"minLength":2},"email":{"description":"Email address.","type":"string","example":"janesmith@example.com","maxLength":100},"phone":{"description":"Phone number, including extension.","type":"string","example":"+14041234567","maxLength":100}}},"shipping_address":{"type":"object","properties":{"name":{"description":"Recipient's first and last name.","type":"string","example":"Jane Smith","maxLength":100},"address_line_1":{"$ref":"#/paths/~1v1~1payins/post/requestBody/content/application~1json/schema/properties/billing_contact/properties/address_line_1"},"address_line_2":{"$ref":"#/paths/~1v1~1payins/post/requestBody/content/application~1json/schema/properties/billing_contact/properties/address_line_2"},"city":{"$ref":"#/paths/~1v1~1payins/post/requestBody/content/application~1json/schema/properties/billing_contact/properties/city"},"state":{"$ref":"#/paths/~1v1~1payins/post/requestBody/content/application~1json/schema/properties/billing_contact/properties/state"},"postal_code":{"$ref":"#/paths/~1v1~1payins/post/requestBody/content/application~1json/schema/properties/billing_contact/properties/postal_code"},"country":{"$ref":"#/paths/~1v1~1payins/post/requestBody/content/application~1json/schema/properties/billing_contact/properties/country"}}},"risk_data":{"description":"Platform payment data that provides additional context to the risk review of the payin.","type":"object","properties":{"external_ref":{"description":"Platform identifier for the payin, such as an invoice ID or order ID.","type":"string","maxLength":100,"minLength":1},"end_user_ref":{"description":"Platform identifier for the end user processing the payin with the merchant, such as an account ID.","type":"string","maxLength":100,"minLength":1}}},"level_2_3":{"description":"Level 2 and Level 3 data is submitted with a business or commercial card to provide additional benefit to the cardholder through enhanced payin information, and benefits the merchant with lower interchange rates.","type":"object","properties":{"tax_amount":{"description":"The sales tax included in the total payin amount associated with the item(s) being purchased, in minor units.\n\nFor example, 1000 is 10.00 USD.","type":"integer"},"shipping_amount":{"description":"The freight or shipping amount included in the total payin amount, in minor units.\n\nFor example, 1000 is 10.00 USD.","type":"integer"},"order_number":{"description":"The purchase order number.","type":"string"},"shipping_country":{"description":"The 2-digit country code for the delivery address of the item(s) being purchased. \n\nFind country codes here: https://www.iso.org/obp","type":"string","example":"US","maxLength":2,"minLength":2},"shipping_postal_code":{"description":"Postal code or ZIP code for the delivery address of the item(s) being purchased. This field can be identical to the `shipping_from_postal_code` if the customer is present and takes immediate possession of the item(s).","type":"string","example":"30305"},"shipping_from_postal_code":{"description":"Postal code or ZIP code of the address the item(s) being purchased are shipped from.","type":"string","example":"30305"},"commodity_code":{"description":"The commodity code of the item(s) being purchased.","type":"string"},"line_items":{"description":"The details on the item(s) being purchased.","type":"array","items":{"type":"object","properties":{"product_code":{"description":"The merchant defined product code of the item being purchased.","type":"string"},"commodity_code":{"description":"The commodity code of the item being purchased.","type":"string"},"description":{"description":"The description of the item being purchased.","type":"string"},"unit_amount":{"description":"The amount of the item being purchased, in minor units. Defaults to 0.\n\nFor example, 1000 is 10.00 USD.","type":"integer","default":0},"unit_of_measure":{"description":"A unit of measure as used in international trade, such as each, gallons, feet, etc. Defaults to EACH.","type":"string","default":"EACH"},"quantity":{"description":"The quantity of the item.","type":"integer"},"total_amount":{"description":"The total amount of the item being purchased, in minor units. Defaults to (unit_amount x quantity) - discount_amount, rounded to the nearest penny.\n\nFor example, 1000 is 10.00 USD.","type":"integer"},"tax_amount":{"description":"The sales tax on the item being purchased, in minor units. Defaults to 0.\n\nFor example, 1000 is 10.00 USD.","type":"integer","default":0},"tax_rate":{"description":"The percentage representing the value-added tax applied, in per cent mille. Defaults to 0.\n\nFor example, 1000 is 1%.","type":"integer","default":0,"maximum":100000},"discount_amount":{"description":"The discount on the item being purchased, in minor units. Defaults to 0.\n\nFor example, 1000 is 10.00 USD.","type":"integer","default":0},"discount_rate":{"description":"The percentage representing the discount applied, in per cent mille. Defaults to 0. \n\nFor example 1000 is 1%.","type":"integer","default":0,"maximum":100000}}}}}},"metadata":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D~1metadata/patch/requestBody/content/application~1json/schema"},"method_metadata":{"description":"Valid JSON key-value object specified by the platform to store additional information on the payment method. Keys are queryable in list endpoints. Do not use the metadata field to store sensitive or confidential data.\n\nMetadata must be less than 8 KB in size.\n","type":"object","example":{"key1":"value1","key2":{"inner_key1":"inner_value1"}},"minLength":0},"processing_mode":{"description":"Determines how to process the payin when [creating the payin](ref:create_payin) via the Payment Component or the API.\n\nOptions:\n  * `AUTHORIZE` - Only authorize the payin, separating the authorization and capture of funds. Authorize will place a hold on the funds and the payin must be [captured](ref:capture_payin) in a separate request.\n  * `AUTHORIZE_AND_CAPTURE` - Authorize and capture the payin in a single request (default).","type":"string","default":"AUTHORIZE_AND_CAPTURE","enum":["AUTHORIZE","AUTHORIZE_AND_CAPTURE"]},"threeds_mode":{"description":"Determines how 3D Secure authentication should be run on this payment to verify that the customer initiating the payment is actually the cardholder.\n\n3D Secure is only available on credit card payments via the Rainforest payment component. This mode is ignored if the payment is made by ACH, or when charging a stored payment method.\n\nOptions:\n* `NONE` - 3D Secure will not be run (default).\n* `ATTEMPT`-  The payment component will attempt to run 3D Secure. If 3D Secure is not available or fails, the payment will process without 3D Secure verification.","type":"string","default":"NONE","enum":["NONE","ATTEMPT"]},"device_signature_mode":{"description":"Determines if a signature should be collected when processing a payment on a device\n\nOptions:\n  * `NONE` - Signature will not be collected\n  * `ATTEMPT` - Only prompt for a signature on devices that support the signature capability","type":"string","default":"NONE","enum":["NONE","ATTEMPT"]},"ach_balance_check_mode":{"description":"ACH Balance Check is in beta: please contact your Customer Success contact for more information.\nDetermines if the balance of the account will be checked when processing a Validated ACH payin. If the balance does not cover the amount of the payin, the payin will fail with the refusal reason of insufficient funds.\n\nOptions:\n  * `NONE` - Account balance will not be checked\n  * `ATTEMPT` - Attempt to check the account balance is sufficient to process the payin","type":"string","default":"NONE","enum":["NONE","ATTEMPT"]},"payin":{"description":"The minimal representation of the payin successfully processed with the payin config, if applicable.\n\nIf no payin has been successfully processed with the payin config, `payin` will be `null`.","nullable":true,"readOnly":true,"type":"object","properties":{"payin_id":{"$ref":"#/paths/~1v1~1payins/post/responses/200/content/application~1json/schema/properties/data/properties/payin_id","readOnly":true}}}}},"errors":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/errors"}}}}}},"400":{"$ref":"#/paths/~1v1~1payins/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1payins/get/responses/401"},"403":{"$ref":"#/paths/~1v1~1payins/get/responses/403"},"5XX":{"$ref":"#/paths/~1v1~1payins/get/responses/5XX"}},"tags":["Payin Configs"]}},"/v1/payin_configs/{payin_config_id}":{"get":{"operationId":"get_payin_config","summary":"Get payin config","description":"Get the configuration for a payin by the payin config ID.","parameters":[{"$ref":"#/paths/~1v1~1payins/get/parameters/0"},{"in":"path","required":true,"name":"payin_config_id","schema":{"type":"string"},"description":"The unique payin config identifier.\n\nPrefix is \"cfg\" in production and \"sbx_cfg\" in sandbox.","examples":{"production":{"value":"cfg_2DrDPKzdQypRudLd8DhQKZX27dA"},"sandbox":{"value":"sbx_cfg_2DrDPKzdQypRudLd8DhQKZX27dA"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"properties":{"status":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/status"},"data":{"$ref":"#/paths/~1v1~1payin_configs/post/responses/200/content/application~1json/schema/properties/data"},"errors":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/errors"}}}}}},"400":{"$ref":"#/paths/~1v1~1payins/get/responses/400"},"401":{"$ref":"#/paths/~1v1~1payins/get/responses/401"},"403":{"$ref":"#/paths/~1v1~1payins/get/responses/403"},"404":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D/get/responses/404"},"5XX":{"$ref":"#/paths/~1v1~1payins/get/responses/5XX"}},"tags":["Payin Configs"]}},"/v1/payins":{"get":{"operationId":"list_payins","summary":"List payins","description":"Query a list of payins given optional search criteria.","parameters":[{"in":"header","name":"Rainforest-Api-Version","schema":{"type":"string","default":"2024-10-16","enum":["2024-10-16","2023-12-01"]}},{"$ref":"#/paths/~1v1~1device_registrations/post/responses/200/content/application~1json/schema/properties/data/properties/merchant_id","in":"query"},{"in":"query","name":"merchant_name","description":"Optional merchant name by which to filter.","schema":{"type":"string"},"examples":{"partial":{"value":"Merchant","summary":"Match a partial merchant name value."},"full":{"value":"Merchant LLC","summary":"Match a full merchant name value."}}},{"in":"query","name":"method_type","description":"Payment method type to filter by. Provide parameter multiple times to filter by multiple payment method types.","schema":{"description":"The type of payment method.","type":"string","enum":["CARD","APPLE_PAY","ACH","PLAID_ACH"]}},{"in":"query","name":"billing_contact_name","description":"Optional billing contact name by which to filter.","schema":{"type":"string","maxLength":50,"minLength":1},"examples":{"partial":{"value":"Doe","summary":"Match a partial billing contact name value."},"full":{"value":"John Doe","summary":"Match a full billing contact name value."}}},{"name":"status","in":"query","description":"One or more payin statuses to filter by. Provide parameter multiple times to filter by multiple payin status types.\n\n`AUTHORIZED` `CANCELED` `CREATED` `FAILED` `IN_REVIEW` `PRESENTING` `PROCESSING` `RETURNED` `SUCCEEDED`","schema":{"type":"array","items":{"description":"The status of the payin.","type":"string","enum":["AUTHORIZED","CANCELED","CREATED","FAILED","IN_REVIEW","PRESENTING","PROCESSING","RETURNED","SUCCEEDED"],"example":"PROCESSING"}}},{"in":"query","name":"source","description":"One or more payin sources to filter by. Provide parameter multiple times to filter by multiple payin sources. ","schema":{"type":"array","items":{"description":"The source of the payin. Indicates the integration that created the payin.","type":"string","nullable":false,"enum":["API_DIRECT","API_STORED_PAYMENT_METHOD","COMPONENT","DEVICE","EXTERNAL","IVR","TAP_TO_PHONE"]}}},{"in":"query","name":"metadata","schema":{"type":"string"},"description":"Filter by metadata stored on the entity by passing a map of key-value pairs to filter on. The `key` should be valid JSONPath to a corresponding metadata key.\n\nFor example, an entity created with the following metadata\n```\n\"account\": {\n  \"id\": \"acct_123\"\n}\n```\ncould have the following metadata filter to find entities with the metadata account id: \n```\n?metadata[$.account.id]=acct_123\n```"},{"in":"query","name":"created_at.start","description":"Created on or after in UTC RFC 3339 format.","schema":{"type":"string","format":"date-time"},"example":"2022-01-01T12:00:00Z"},{"in":"query","name":"created_at.end","description":"Created on or before in UTC RFC 3339 format.","schema":{"type":"string","format":"date-time"},"example":"2022-01-01T12:00:00Z"},{"in":"query","name":"expected_deposit_date.start","description":"Expected to be deposited on or after in UTC RFC 3339 format.","schema":{"type":"string","format":"date"},"example":"2022-01-01"},{"in":"query","name":"expected_deposit_date.end","description":"Expected to be deposited on or before in UTC RFC 3339 format.","schema":{"type":"string","format":"date"},"example":"2022-01-01"},{"name":"sort_by","in":"query","description":"Optional value by which to sort the result set. Default sort by is created_at.","schema":{"type":"string","enum":["amount","billing_contact_name","created_at","expected_deposit_date","merchant_id","method_type","payin_id","status"]}},{"in":"query","name":"sort_order","description":"Order in which to return the sorted results; ascending or descending. Default sort order is descending.","schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"limit","schema":{"type":"number","default":1000,"maximum":1000},"description":"The maximum number of results to return."},{"in":"query","name":"start_key","schema":{"type":"string"},"description":"A key used to indicate the starting point for the next page of results. This value should be set to the last_key returned by the previous paginated request."},{"in":"query","deprecated":true,"name":"offset","schema":{"type":"number","default":0,"minimum":0},"description":"Offset has been deprecated. Utilize start_key and last_key for pagination.\n\nThe offset of the first result to return; zero-based."}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"description":"Status of the request.\n\nIf the request status code is 2XX, then the `status` will be `SUCCESS`. If the request status code is 4XX or 5XX, then the `status` will be `ERROR`.","type":"string","enum":["SUCCESS","ERROR"],"example":"SUCCESS"},"data":{"allOf":[{"type":"object","properties":{"total_results":{"type":"integer","description":"Total number of results available. This value will be -1 if the query parameter `omit_total_results` is set to true."}}},{"type":"object","properties":{"last_key":{"name":"last_key","schema":{"type":"string"},"description":"Last ID in this result set.\n\nThis value can be be used as `start_key` in subsequent paginated requests to retrieve additional results whose IDs are greater than the `last_key` value."},"results":{"description":"List of payins.","type":"array","items":{"$ref":"#/paths/~1v1~1payins/post/responses/200/content/application~1json/schema/properties/data"}}}}]},"errors":{"description":"List of errors, if applicable.","type":"array","items":{"type":"object","description":"Details of the error.","properties":{"field":{"description":"The field in the request that had an error, if applicable.","type":"string"},"code":{"description":"The code describing the error.","type":"string"},"message":{"description":"The description of the error related to the field.","type":"string"}}},"example":null}}}}}},"400":{"description":"Bad request, check for validation errors.","content":{"application/json":{"schema":{"description":"Default response object.","type":"object","properties":{"status":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/status"},"data":{"description":"Generic data object specified per resource, null if there are request errors.","type":"object","example":null,"nullable":true,"readOnly":true},"errors":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/errors"}}},"example":{"status":"ERROR","data":null,"errors":[{"field":"string","code":"RequestBody","message":"Invalid request payload"}]}}}},"401":{"description":"Authorization missing or invalid.","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1payins/get/responses/400/content/application~1json/schema"},"example":{"status":"ERROR","data":null,"errors":[{"field":"string","code":"AuthUnauthorized","message":"Unauthorized"}]}}}},"403":{"description":"Authorization insufficient for requested action.","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1payins/get/responses/400/content/application~1json/schema"},"example":{"status":"ERROR","data":null,"errors":[{"field":"string","code":"AuthForbidden","message":"Forbidden"}]}}}},"5XX":{"description":"Unexpected error.","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1payins/get/responses/400/content/application~1json/schema"},"example":{"status":"ERROR","data":null,"errors":[{"field":"string","code":"string","message":"Internal Server Error"}]}}}}},"tags":["Payins"]},"post":{"operationId":"create_payin","summary":"Create payin","description":"Create and process a payin with sensitive PCI data using a payin configuration. The merchant status must be `ACTIVE` to create a payin.\n\nThis endpoint requires Rainforest approval. Platforms that meet all [requirements](doc:send-sensitive-data-via-api#requirements) and are approved by Rainforest can send the full card and bank account numbers to Rainforest via a server-to-serve direct API integration.","parameters":[{"$ref":"#/paths/~1v1~1payins/get/parameters/0"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"payin_config_id":{"description":"The unique payin config identifier. A payin must be configured prior to this request. See \"Create a Payin Config\" if a payin configuration has not been created yet.\n\nPrefix is \"cfg\" in production and \"sbx_cfg\" in sandbox.","type":"string","example":"cfg_2A4d6U0tMyovzTbVT1ktmRzdRaD"},"method_type":{"description":"The type of payment method.","type":"string","enum":["CARD","ACH"]},"card":{"description":"Card payment method. Required for method_type CARD.","type":"object","properties":{"card_number":{"description":"The card number, formatted with no spaces (e.g 0000000000000000).","type":"string","example":"4111111111111111"},"exp_month":{"description":"The card expiration month.","type":"integer","example":12,"maximum":12,"minimum":1},"exp_year":{"description":"The card expiration year, in 4-digits.","type":"integer","example":2027,"maximum":2099,"minimum":2000},"cvc":{"description":"The card CVC, temporarily available for 5 minutes for payment processing.","type":"integer","example":"123"}}},"ach":{"description":"ACH payment method details. Required for method_type ACH.","type":"object","properties":{"account_number":{"description":"The bank account number.","type":"string","example":"12345678"},"routing_number":{"description":"The 9-digit routing number.","type":"string","example":"091000019","maxLength":9,"minLength":9},"account_type":{"description":"The account type. Defaulted to CHECKING if omitted.","type":"string","example":"CHECKING","enum":["CHECKING","SAVINGS"]},"account_holder_type":{"description":"The account holder type.","type":"string","example":"PERSONAL","enum":["PERSONAL","BUSINESS"]}}},"billing_contact":{"$ref":"#/paths/~1v1~1payin_configs/post/requestBody/content/application~1json/schema/properties/billing_contact","description":"Billing contact details. The following billing contact fields are **_required_** for payment processing depending on the payment method type:\n* Card: `postal_code`\n* ACH: `name`\n\nThe billing contact fields can also be passed in the payin config."}},"required":["payin_config_id","method_type"]},"examples":{"card":{"value":{"payin_config_id":"cfg_2A4d6U0tMyovzTbVT1ktmRzdRaD","method_type":"CARD","card":{"card_number":"4111111111111111","exp_month":12,"exp_year":2027,"cvc":"123"},"billing_contact":{"name":"Jane Smith","address_line_1":"3423 Piedmont Rd","address_line_2":"Suite 123","city":"Atlanta","state":"GA","postal_code":"30305","country":"US","email":"janesmith@example.com","phone":"4041234567"}}},"ach":{"value":{"payin_config_id":"cfg_2A4d6U0tMyovzTbVT1ktmRzdRaD","method_type":"ACH","ach":{"account_number":"12345678","routing_number":"091000019","account_type":"CHECKING","account_holder_type":"PERSONAL"},"billing_contact":{"name":"Jane Smith","address_line_1":"3423 Piedmont Rd","address_line_2":"Suite 123","city":"Atlanta","state":"GA","postal_code":"30305","country":"US","email":"janesmith@example.com","phone":"4041234567"}}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"properties":{"status":{"$ref":"#/paths/~1v1~1payins/get/responses/200/content/application~1json/schema/properties/status"},"data":{"description":"The payin details.","type":"object","properties":{"payin_id":{"description":"The unique payin identifier. \n\nPrefix is \"pyi\" in production and \"sbx_pyi\" in sandbox.","type":"string","example":"pyi_2DrDKk5NIMbpuNGqm109SkpGDHh"},"payin_config_id":{"$ref":"#/paths/~1v1~1payins/post/responses/200/content/application~1json/schema/properties/data/properties/threeds_attempt/properties/payin_config_id","readOnly":true},"merchant_id":{"$ref":"#/paths/~1v1~1device_registrations/post/requestBody/content/application~1json/schema/properties/merchant_id"},"payment_method_id":{"description":"The unique payment method identifier. \n\nPrefix is \"mtd\" in production and \"sbx_mtd\" in sandbox.","type":"string","example":"mtd_2DrDRpyAdp5MPUJnrJmoZcMmtfF"},"payment_method_config_id":{"$ref":"#/paths/~1v1~1payin_configs/post/requestBody/content/application~1json/schema/properties/payment_method_config_id","readOnly":true},"device_registration_id":{"description":"The unique device registration identifier.\n\nPrefix is \"dvc\" in production and \"sbx_dvc\" in sandbox.","type":"string","example":"dvc_2DrDKk5NIMbpuNGqm109SkpGDHh"},"threeds_attempt_id":{"nullable":true,"description":"The unique threeds attempt identifier. \n\nPrefix is \"tds\" in production and \"sbx_tds\" in sandbox.","type":"string","example":"tds_2DrDFJPutxE5AIbJSopAnqniEbr"},"idempotency_key":{"$ref":"#/paths/~1v1~1refunds~1%7Brefund_id%7D~1void/post/requestBody/content/application~1json/schema/properties/idempotency_key"},"billing_type":{"description":"The merchant billing type.","type":"string","enum":["NET","GROSS"]},"amount":{"description":"The amount of the payin, in minor units.\n\nFor example, 1000 is 10.00 USD.","type":"integer","example":100},"currency_code":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D~1void_or_refund/post/requestBody/content/application~1json/schema/properties/amount_splits/items/properties/currency_code"},"is_partially_authorized":{"description":"Boolean indicating if payin was authorized for a partial amount.","type":"boolean"},"authorized_amount":{"description":"The amount of the payin that was authorized, in minor units.\n\nFor example, 1000 is 10.00 USD.","type":"integer","example":100,"readOnly":true},"captured_amount":{"description":"The amount of the payin that was captured, in minor units.\n\nFor example, 1000 is 10.00 USD.","type":"integer","example":100,"readOnly":true},"refundable_amount":{"description":"The amount of the payin that can still be refunded, in minor units.\n\nFor example, 1000 is 10.00 USD.","type":"integer","example":100,"readOnly":true},"non_refundable_reason_code":{"description":"Why the payin is nonrefundable. Provided when refundable_amount is 0.","type":"string","nullable":true,"readOnly":true,"enum":["VOIDED","FAILED","FULLY_REFUNDED","HAS_CHARGEBACKS","HAS_ACH_RETURN","IN_ACH_RETURN_WINDOW","IN_SETTLEMENT_WINDOW"]},"status":{"$ref":"#/paths/~1v1~1payins/get/parameters/5/schema/items"},"refusal_code":{"description":"The code explaining the reason for the refusal if the payin or refund failed to process.\n\nThis value will be `null` if the payin or refund succeeded.","type":"string","enum":[null,"AUTHORIZATION_EXPIRED","DECLINED","DO_NOT_HONOR","EXPIRED_CARD","FRAUDULENT_CARD","INCORRECT_PAYMENT_INFORMATION","INSUFFICIENT_FUNDS","INVALID_CARD_SECURITY_CODE","INVALID_EXPIRATION_DATE","INVALID_PIN","LOST_CARD","NO_CARD_NUMBER_ON_FILE_WITH_ISSUER","NO_SUCH_CARD_ISSUER","OVER_LIMIT","PROCESSING_ERROR","RESTRICTED_CARD_TYPE","RETRY","RETRY_WITH_THREEDS","RISK_DECLINE","STOLEN_CARD","THREEDS_CHALLENGE_FAILED","UNEXPECTED_PAYIN_TOKEN","UNSUPPORTED_CARD_TYPE"],"readOnly":true},"refusal_desc":{"description":"The description explaining the reason for the refusal if the payin or refund failed to process. This will be a human-readable value that may be presented to the end user.\n\nThis value will be `null` if the payin or refund succeeded.","type":"string","enum":[null,"Authorization expired","Declined","Do not honor","Expired card","Fraudulent card","Incorrect payment information","Insufficient funds","Invalid card security code","Invalid expiration date","Invalid PIN","Lost card","No card number on file with issuer","No such card issuer","Over limit","Processing error","Restricted card type","Retry","Retry with 3DS","Risk decline","Stolen card","3DS challenge failed","Unexpected payin token","Unsupported card type"],"readOnly":true},"detailed_refusal_code":{"description":"The detailed refusal code that could be more descriptive than the refusal code. It may take up to 5 minutes for the detailed refusal code to populate after the payment fails.\n\nThis value will be `null` if the payment succeeded.","type":"string","enum":[null,"AUTHORIZATION_EXPIRED","DECLINED","DO_NOT_HONOR","EXPIRED_CARD","FRAUDULENT_CARD","INCORRECT_PAYMENT_INFORMATION","INSUFFICIENT_FUNDS","INVALID_CARD_SECURITY_CODE","INVALID_EXPIRATION_DATE","INVALID_PIN","LOST_CARD","NO_CARD_NUMBER_ON_FILE_WITH_ISSUER","NO_SUCH_CARD_ISSUER","OVER_LIMIT","PROCESSING_ERROR","RESTRICTED_CARD_TYPE","RETRY","RETRY_WITH_THREEDS","RISK_DECLINE","STOLEN_CARD","THREEDS_CHALLENGE_FAILED","UNEXPECTED_PAYIN_TOKEN","UNSUPPORTED_CARD_TYPE"],"readOnly":true},"detailed_refusal_desc":{"description":"The description explaining the detailed refusal reason if the payin or refund failed to process. This will be a human-readable value that may be presented to the end user.\n\nThis value will be `null` if the payment succeeded.","type":"string","enum":[null,"Authorization expired","Declined","Do not honor","Expired card","Fraudulent card","Incorrect payment information","Insufficient funds","Invalid card security code","Invalid expiration date","Invalid PIN","Lost card","No card number on file with issuer","No such card issuer","Over limit","Processing error","Restricted card type","Retry","Retry with 3DS","Risk decline","Stolen card","3DS challenge failed","Unexpected payin token","Unsupported card type"],"readOnly":true},"auth_code":{"description":"The authorization code if the payin was approved.","type":"string","example":"12345"},"avs_result_code":{"description":"The address verification service result code.","type":"string","example":"Y"},"cvc_result_code":{"description":"The card verification code result code.","type":"string","example":"M"},"amount_splits":{"description":"Represents how the payin amount was allocated to the originating merchant, the platform and one or more other merchants.<br/><br/>\n\nA `PLATFORM` split defines a platform fee on the payin.<br/><br/>\n\nA `MERCHANT` split allocates a portion of the payin to the specified merchant.<br/><br/>\n\nAny remaining amount not specified by the amount splits was allocated to the originating merchant associated with the payin.","type":"array","items":{"type":"object","properties":{"amount":{"description":"The amount allocated, in minor units.\n\nFor example, 1000 is 10.00 USD.","type":"integer","example":3},"currency_code":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D~1void_or_refund/post/requestBody/content/application~1json/schema/properties/amount_splits/items/properties/currency_code"},"type":{"description":"The type of receiver for this split.<br/><br/>\n\n`PLATFORM` allocates the split amount to the platform. `MERCHANT` allocates the split amount to the merchant specified by merchant_id.","type":"string","enum":["PLATFORM","MERCHANT"]},"merchant_id":{"description":"Required when type is `MERCHANT`.<br/><br/>\n\nThe unique identifier of the merchant receiving this split. The merchant must be fully onboarded and in an ACTIVE status.<br/><br/>\n\nMust not match the merchant_id of the originating merchant on the payin. Must not be duplicated within the same amount_splits array. Not valid when object type is `PLATFORM`.<br/><br/>\n\nPrefix: mid in production, sbx_mid in sandbox.","type":"string","example":"mid_abc123"},"platform":{"description":"The minimal representation of the platform receiving this split. Present when type is `PLATFORM`.","$ref":"#/paths/~1v1~1payment_method_configs/post/requestBody/content/application~1json/schema/properties/platform"},"merchant":{"description":"The minimal representation of the merchant receiving this split. Present when type is `MERCHANT`.","$ref":"#/paths/~1v1~1payin_configs/post/requestBody/content/application~1json/schema/properties/merchant"}},"required":["amount","currency_code","type"]},"example":[{"amount":3,"currency_code":"USD","type":"PLATFORM"}]},"merchant_fees":{"description":"The amount of the payin billed to the merchant.","type":"object","properties":{"total_amount":{"description":"The total amount of fees billed to the merchant.","type":"object","properties":{"amount":{"description":"The amount, in minor units.\n\nFor example, 1000 is 10.00 USD.","type":"integer","minimum":0},"currency_code":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D~1void_or_refund/post/requestBody/content/application~1json/schema/properties/amount_splits/items/properties/currency_code"}}}},"example":{"total_amount":{"amount":2,"currency_code":"USD"}}},"method_type":{"description":"The type of payment method.","type":"string","enum":["CARD","APPLE_PAY","ACH","PLAID_ACH","PAYPAL_WALLET","VENMO","PAYPAL_PAYLATER"]},"card":{"description":"Card payment method details.","type":"object","properties":{"type":{"description":"Card type.","type":"string","enum":["CREDIT","DEBIT","PREPAID"]},"brand":{"$ref":"#/paths/~1v1~1bin_lookup/post/responses/200/content/application~1json/schema/properties/data/properties/brand"},"brand_desc":{"description":"Card brand in a friendly language.","type":"string","example":"Mastercard","enum":["Visa","Mastercard","Discover","American Express","Other"]},"last_4":{"description":"Last 4 digits of the card number.","type":"string","example":"4444"},"exp_month":{"$ref":"#/paths/~1v1~1payins/post/requestBody/content/application~1json/schema/properties/card/properties/exp_month"},"exp_year":{"$ref":"#/paths/~1v1~1payins/post/requestBody/content/application~1json/schema/properties/card/properties/exp_year"}}},"apple_pay":{"description":"Apple Pay payment method details.","type":"object","properties":{"type":{"$ref":"#/paths/~1v1~1payins/post/responses/200/content/application~1json/schema/properties/data/properties/card/properties/type"},"brand":{"$ref":"#/paths/~1v1~1bin_lookup/post/responses/200/content/application~1json/schema/properties/data/properties/brand"},"brand_desc":{"$ref":"#/paths/~1v1~1payins/post/responses/200/content/application~1json/schema/properties/data/properties/card/properties/brand_desc"},"description":{"description":"A human-readable description of the payment method provided by Apple.","type":"string","example":"Visa 1234"}}},"ach":{"description":"ACH payment method details.","type":"object","properties":{"account_number_last_4":{"description":"The last 4 digits of the account number.","type":"string","example":"5678"},"routing_number":{"$ref":"#/paths/~1v1~1payins/post/requestBody/content/application~1json/schema/properties/ach/properties/routing_number"},"bank_name":{"description":"The bank name.","type":"string","example":"Wells Fargo Bank"},"account_type":{"$ref":"#/paths/~1v1~1payins/post/requestBody/content/application~1json/schema/properties/ach/properties/account_type"},"account_holder_type":{"$ref":"#/paths/~1v1~1payins/post/requestBody/content/application~1json/schema/properties/ach/properties/account_holder_type"}}},"plaid_ach":{"$ref":"#/paths/~1v1~1payment_methods/post/responses/200/content/application~1json/schema/properties/data/properties/plaid_ach","description":"ACH payment method details from Plaid."},"paypal_wallet":{"description":"PayPal Wallet payment method. Required for method_type PAYPAL_WALLET.","type":"object","properties":{"email":{"description":"The email address of the PayPal user","type":"string","example":"janesmith@example.com"}}},"venmo":{"description":"Venmo payment method. Required for method_type VENMO.","type":"object","properties":{"email":{"description":"The email address of the Venmo user","type":"string","example":"janesmith@example.com"}}},"paypal_paylater":{"description":"PayPal PayLater payment method. Required for method_type PAYPAL_PAYLATER.","type":"object","properties":{"email":{"description":"The email address of the PayPal user","type":"string","example":"janesmith@example.com"}}},"billing_contact":{"$ref":"#/paths/~1v1~1payin_configs/post/requestBody/content/application~1json/schema/properties/billing_contact"},"device_data":{"description":"Device data","type":"object","properties":{"application_identifier":{"description":"Identifies the application that the device used on the payin or payment method as described in ISO/IEC 7816-5.","type":"string","example":"A0000000031010"},"application_label":{"description":"The human-readable name associated with the application identifier according to ISO/IEC 7816-5.","type":"string","example":"VISA CREDIT"},"application_preferred_name":{"description":"The human-readable name associated with the application identifier in the cardholder’s local language.","type":"string","example":"VISA CREDIT"},"transaction_status_information":{"description":"A collection of indicators that the device will set to show what processing steps have been performed on the current transaction (e.g. Cardholder Verification, Data Authentication).","type":"string","example":"E800"},"application_pan_sequence_number":{"description":"Identifies and differentiates cards with the same PAN.","type":"string","example":1},"entry_type":{"description":"The entry type used on the device.","type":"string","example":"TAPPED","enum":["TAPPED","SWIPED","DIPPED","KEYED","INVALID","UNKNOWN"]},"verification_type":{"description":"The verification type for verifying the user processing the payment is the cardholder.\n\nTypes:\n* `SIGNATURE` - The user provided a signature on the device.\n* `OFFLINE_PIN` - The user entered their pin on the device and it was verified by the EMV chip card.\n* `ONLINE_PIN` - The user entered their pin on the device and it was verified by the card issuer.\n* `OFFLINE_PIN_SIGNATURE` - The user entered their PIN and provided a signature on the device.\n* `NONE` - The user could not be verified.","type":"string","enum":["SIGNATURE","OFFLINE_PIN","ONLINE_PIN","OFFLINE_PIN_SIGNATURE","NONE"]},"signature":{"description":"A signature image, formatted as a base64 encoded data URI","type":"string"}},"readOnly":true},"method_metadata":{"$ref":"#/paths/~1v1~1payin_configs/post/requestBody/content/application~1json/schema/properties/method_metadata"},"metadata":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D~1metadata/patch/requestBody/content/application~1json/schema"},"refunds":{"type":"array","items":{"$ref":"#/paths/~1v1~1refunds~1%7Brefund_id%7D/get/responses/200/content/application~1json/schema/properties/data"}},"has_refunds":{"description":"Boolean indicating that the payin has one or more refunds created.","type":"boolean"},"chargebacks":{"type":"array","items":{"$ref":"#/paths/~1v1~1chargebacks~1%7Bchargeback_id%7D/get/responses/200/content/application~1json/schema/properties/data"}},"has_chargebacks":{"description":"Boolean indicating that the payin has one or more chargebacks created.","type":"boolean"},"ach_return":{"$ref":"#/paths/~1v1~1ach_returns~1%7Bach_return_id%7D/get/responses/200/content/application~1json/schema/properties/data"},"has_ach_return":{"description":"Boolean indicating that the payin has an ACH return.","type":"boolean"},"payin_config":{"description":"Payin config details.","type":"object","properties":{"payin_config_id":{"$ref":"#/paths/~1v1~1payins/post/responses/200/content/application~1json/schema/properties/data/properties/threeds_attempt/properties/payin_config_id","readOnly":true},"processing_mode":{"$ref":"#/paths/~1v1~1payin_configs/post/requestBody/content/application~1json/schema/properties/processing_mode","readOnly":true},"amount":{"description":"The total amount requested for processing, in minor units.\n\nFor example, 1000 is 10.00 USD.","type":"integer","example":100,"minimum":1,"readOnly":true},"currency_code":{"$ref":"#/paths/~1v1~1payins~1%7Bpayin_id%7D~1void_or_refund/post/requestBody/content/application~1json/schema/properties/amount_splits/items/properties/currency_code","readOnly":true},"amount_splits":{"$ref":"#/paths/~1v1~1payin_configs/post/requestBody/content/application~1json/schema/properties/amount_splits","readOnly":true}}},"threeds_attempt":{"nullable":true,"description":"3DS attempt details.","type":"object","properties":{"threeds_attempt_id":{"description":"The unique threeds attempt identifier. \n\nPrefix is \"tds\" in production and \"sbx_tds\" in sandbox.","type":"string","example":"tds_2DrDFJPutxE5AIbJSopAnqniEbr"},"merchant_id":{"$ref":"#/paths/~1v1~1device_registrations/post/requestBody/content/application~1json/schema/properties/merchant_id"},"payin_config_id":{"description":"The unique payin config identifier. \n\nPrefix is \"cfg\" in production and \"sbx_cfg\" in sandbox.","type":"string","example":"cfg_2DrDPKzdQypRudLd8DhQKZX27dA"},"status":{"description":"The status of the threeds attempt.","type":"string","enum":["CREATED","FINGERPRINTED","SUCCEEDED","CHALLENGED","FAILED"],"example":"CREATED"},"failed_reason_code":{"description":"The code explaining the reason for the 3DS request failure.\n\nThis value will be set if the 3DS attempt status is `FAILED`.","type":"string","nullable":true,"readOnly":true,"enum":["3DS_ATTEMPT_TIMED_OUT","CARD_NOT_ENROLLED","CHALLENGE_FAILED","MERCHANT_NOT_BOARDED","UNEXPECTED_ERROR","UNSUPPORTED_PAYMENT_DATA"]},"failed_reason_desc":{"description":"The description explaining the reason for the payin's 3DS request failure. This will be a human-readable value that may be presented to the end user.\n\nThis value will be `null` if the 3DS request succeeded or if not applicable.","type":"string","nullable":true,"examples":["3DS attempt timed out","Card not enrolled to 3DS","Failed 3DS challenge","Merchant not boarded to 3DS","Unexpected error","Unsupported payment data"],"readOnly":true},"created_at":{"description":"The datetime at which the attempt was initiated, in RFC3339 format","$ref":"#/paths/~1v1~1payment_method_domains/post/requestBody/content/application~1json/schema/properties/created_at"},"updated_at":{"description":"The datetime at which the attempt was last updated, in RFC3339 format","$ref":"#/paths/~1v1~1payment_method_domains/post/requestBody/content/application~1json/schema/properties/created_at"},"fingerprinted_at":{"description":"The datetime at which the attempt was fingerprinted, in RFC3339 format\n\nThe 3DS fingerprint step may open a hidden IFRAME to the issuing bank, allowing the bank to run proprietary fingerprinting i
[...]
